extends layout

block content
  h1.title #{title}

  form(method='POST')
    div.form-group
      label(for='item') item:
      input(type='text', placeholder='Write Todo' name='item' value='')
      label(for='content') Content:
      input(type='text', placeholder='Write Content' name='content' value='')
    button.btn.btn-default(type='submit') 登録

  if errors
    ul
      for error in errors
        li!= error.msg
