extends layout

block content
  h1.title #{title}

  form(method='POST')
    div.form-group
      label(for='name') Name:
      input(type='text', placeholder='Write Todo' name='name' value='todo')
      label(for='content') Content:
      input(type='text', placeholder='Write Todo' name='content' value='todo')
    button.btn.btn-default(type='submit') 登録

  if errors
    ul
      for error in errors
        li!= error.msg
